<p>
    Créez une commande qui calcule la somme d'un interval entre deux nombres.
</p>
<p class="font-bold"><u>Note</u>:</p>
<ul>
    <li>La commande doit prendre 3 arguments</li>
    <ul>
        <li>Nombre de départ (>= 0)</li>
        <li>Nombre de fin (<= 500000000)</li>
        <li>L'interval</li>
    </ul>
    <li>Il faut absolument créer une méthode permettant de retourner le tableau avec les intervalles</li>
    <li>Puis une autre méthode permettant de faire la sommes du tableau</li>

</ul>
<p class="font-bold"><u>Exemples</u>:</p>
<pre>
#### Example 1:

Input: min = 1, max = 5, step = 1
Output: 15
Output: Parce que 1 + 2 + 3 + 4 + 5 = 15

#### Example 2:

Input: min = 1, max = 5, step = 2
Output: 9
Output: Parce que 1 + 3 + 5 = 9</pre>
<p class="font-bold"><u>Réussite</u>:</p>
<p>La commande devra renvoyer le résultat final</p>