<p>
    Écrire un programme qui affiche les nombres de 1 à 199.
</p>
<p class="font-bold"><u>Note</u>:</p>
<ul>
    <li>La classe se trouve <span class="code">src/FizzBuzz/FizzBuzz.php</span></li>
    <li>Pour les multiples de 3, afficher “Fizz”</li>
    <li>Pour les multiples de 5 afficher “Buzz”</li>
    <li>Pour les nombres multiples de 3 et 5, afficher “FizzBuzz”</li>
    <li>Afficher les autres chiffres</li>
</ul>
<p class="font-bold"><u>Exemple</u>:</p>
<pre>1, 2, Fizz, 4, Buzz {etc etc}</pre>
<p class="font-bold"><u>Réussite</u>:</p>
<p>
    Implémentation de la classe.
</p>
<p class="font-italic">
    <u>optionnel</u>: si possible, avec les tests unitaires afin de garantir le bon fonctionnement de celle-ci. (fichier: tests/FizzBuzz/FizzBussTest.php)
</p>
<p>Pour cela, vous allez pouvoir lancer la commande <span class="code">make unit-testing tag=test-fizzbuzz</span></p>
<p class="font-bold">
    <i class="fa fa-info-circle"></i> Si vous ne parvenez pas à rendre le test vert, ce n'est pas grave.
</p>